*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.props
*.pyc
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
# Settings directory for eclipse
src/.settings
.checkstyle
cscope.*
Session.vim
tags
Thumbs.db
v8.log
src/_out
src/android_emulator_sdk
src/ash/ash_unittests_run.xml
src/base/base_unittests_run.xml
src/breakpad/src/
src/build/Debug
src/build/Debug_x64
src/build/gomacc.lock
src/build/ipch/
src/build/Release
src/build/Release_x64
src/build/win_toolchain.json
src/build/util/LASTCHANGE*
src/build/util/support
src/build/x64/
src/build/linux/bin/eu-strip
src/buildtools
# The Chrome OS build creates a /c symlink due to http://crbug.com/54866.
src/c
src/ceee/internal/
src/chrome/angle_unittests_run.xml
src/chrome/content_gl_tests_run.xml
src/chrome/gl_tests_run.xml
src/chrome/gles2_conform_test_run.xml
src/chrome/tab_capture_performance_tests_run.xml
src/chrome/telemetry_gpu_test_run.xml
src/chrome/app/theme/default_100_percent/google_chrome
src/chrome/app/theme/default_200_percent/google_chrome
src/chrome/app/theme/google_chrome
src/chrome/browser/autofill/internal
src/chrome/browser/chromeos/login/screenshot_testing/golden_screenshots/*.png
src/chrome/browser/chromeos/login/screenshot_testing/artifacts
src/chrome/browser/extensions/api/ledger/
src/chrome/browser/extensions/default_extensions/chromeos
src/chrome/browser/google/linkdoctor_internal
src/chrome/browser/internal
src/chrome/browser/performance_monitor/performance_monitor.xml
src/chrome/browser/protector/internal
src/chrome/browser/resources/chromeos/quickoffice
src/chrome/browser/resources/pdf/html_office
src/chrome/browser/resources/settings_internal/
src/chrome/browser/resources/software_rendering_list
src/chrome/browser/spellchecker/internal
src/chrome/browser_tests_run.xml
src/chrome/chrome_run.xml
src/chrome/chrome_user32_delay_imports.xml
src/chrome/chrome_version_resources.xml
src/chrome/common/extensions/api/api.xml
src/chrome/common/extensions/api/ledger/
src/chrome/Hammer
src/chrome/installer/linux/debian_wheezy_*-sysroot/
src/chrome/installer/linux/internal
src/chrome/installer/mac/internal
src/chrome/installer/mac/third_party/xz/xz
src/chrome/installer/mini_installer.xml
src/chrome/installer/mini_installer/mini_installer.aps
src/chrome/installer/mini_installer/support
src/chrome/installer/mini_installer_syzygy.xml
src/chrome/installer/mini_installer_tests_run.xml
src/chrome/installer_util_strings.xml
src/chrome/interactive_ui_tests_run.xml
src/chrome/setup.xml
src/chrome/setup_unittests.xml
src/chrome/supplement.gypi
src/chrome/sync_integration_tests_run.xml
src/chrome/test/chromeos/autotest/files/client/deps/chrome_test/test_src/
src/chrome/test/chromeos/autotest/files/client/deps/page_cycler_dep/test_src/
src/chrome/test/chromeos/autotest/files/client/deps/perf_data_dep/test_src/
src/chrome/test/chromeos/autotest/files/client/deps/pyauto_dep/test_src/
src/chrome/test/chromeos/autotest/files/client/deps/telemetry_dep/test_src/
src/chrome/test/data/extensions/api_test/permissions/nacl_enabled/bin
src/chrome/test/data/firefox2_profile/searchplugins
src/chrome/test/data/firefox2_searchplugins
src/chrome/test/data/firefox3_profile/searchplugins
src/chrome/test/data/firefox3_searchplugins
src/chrome/test/data/gpu/vectortown_endurance/
src/chrome/test/data/gpu/vt/
src/chrome/test/data/layout_tests
src/chrome/test/data/osdd
src/chrome/test/data/pdf_private
src/chrome/test/data/perf/canvas_bench
src/chrome/test/data/perf/frame_rate/content
src/chrome/test/data/perf/frame_rate/private
src/chrome/test/data/perf/private/
src/chrome/test/data/perf/third_party/
src/chrome/test/data/plugin/
src/chrome/test/data/webrtc/resources
src/chrome/tools/memory
src/chrome/tools/test/reference_build
src/chrome/unit_tests_run.xml
src/chrome/web_ui_mojo_bindings.xml
src/chrome_elf/chrome_elf_resources.xml
src/clank
src/cloud_print/cloud_print_version_resources.xml
src/components/chrome_settings_proto_generated_compile.xml
src/components/cloud_policy_proto_generated_compile.xml
src/components/gcm_driver.xml
src/components/leveldb_proto_test_support.xml
src/components/rappor.xml
src/components/search_engines/prepopulated_engines.xml
src/components/suggestions.xml
src/components/variations.xml
src/content/browser/service_worker/proto.xml
src/content/content_browsertests_run.xml
src/content/content_common_mojo_bindings.xml
src/content/content_unittests_run.xml
src/content/test/data/gpu/generated/
src/content/test/data/gpu/gpu_reference/
src/content/test/data/layout_tests/
src/content/test/data/plugin/
src/content/web_ui_test_mojo_bindings.xml
src/data
src/delegate_execute
src/device/serial/device_serial_mojo.xml
src/google_apis/gcm/gcm.xml
src/google_apis/internal
src/googleurl
src/gpu/gles2_conform_test
src/gyp-mac-tool
src/internal_gyp
src/ios/third_party/gcdwebserver/src
src/llvm
src/media/cast/logging/cast_logging_proto_lib.xml
src/media/cdm/ppapi/api
src/media/media_asm.xml
src/media/media_mojo_bindings.xml
src/media/test/data/internal
src/media/yuv_convert_simd_x86.xml
src/metro_driver
src/mojo/hello_world_service.xml
src/mojo/mojo_application_bindings.xml
src/mojo/mojo_application_manager_unittests.xml
src/mojo/mojo_apps_js_bindings.xml
src/mojo/mojo_apps_js_unittests_run.xml
src/mojo/mojo_clipboard_bindings.xml
src/mojo/mojo_content_handler_bindings.xml
src/mojo/mojo_core_window_manager_bindings.xml
src/mojo/mojo_echo_service_bindings.xml
src/mojo/mojo_example_service_bindings.xml
src/mojo/mojo_external_service_bindings.xml
src/mojo/mojo_geometry_bindings.xml
src/mojo/mojo_gles2_bindings.xml
src/mojo/mojo_gpu_bindings.xml
src/mojo/mojo_input_events_bindings.xml
src/mojo/mojo_js_unittests_run.xml
src/mojo/mojo_keyboard_bindings.xml
src/mojo/mojo_launcher_bindings.xml
src/mojo/mojo_media_viewer_bindings.xml
src/mojo/mojo_native_viewport_bindings.xml
src/mojo/mojo_navigation_bindings.xml
src/mojo/mojo_network_bindings.xml
src/mojo/mojo_public_bindings_unittests.xml
src/mojo/mojo_public_test_interfaces.xml
src/mojo/mojo_public_unittests.xml
src/mojo/mojo_sample_service.xml
src/mojo/mojo_shell_bindings.xml
src/mojo/mojo_shell_lib.xml
src/mojo/mojo_spy.xml
src/mojo/mojo_surface_id_bindings.xml
src/mojo/mojo_surfaces_app_bindings.xml
src/mojo/mojo_surfaces_bindings.xml
src/mojo/mojo_test_service_bindings.xml
src/mojo/mojo_view_manager_bindings.xml
src/mojo/mojo_window_manager_bindings.xml
src/mojo/mojo_wm_flow_embeddee_bindings.xml
src/mojo/mojo_wm_flow_embedder_bindings.xml
src/mojo/mojom_test.xml
src/mojo/sample_service.xml
src/native_client
src/net/Debug
src/net/net_derived_sources.xml
src/net/net_unittests_run.xml
src/net/Release
src/net/testserver.log
src/out*
src/ozone
src/ppapi/native_client/nacl_irt.xml
src/ppapi/native_client/ppapi_lib.xml
src/remoting/appengine/
src/remoting/host/installer/linux/internal/
src/remoting/internal/
src/remoting/proto/chromotocol_proto_lib.xml
src/remoting/remoting_core_resources.xml
src/remoting/remoting_elevated_controller.xml
src/remoting/remoting_host.xml
src/remoting/remoting_host_event_logger.xml
src/remoting/remoting_host_installation.xml
src/remoting/remoting_host_messages.xml
src/remoting/remoting_infoplist_strings.xml
src/remoting/remoting_lib_idl.xml
src/remoting/remoting_lib_rc.xml
src/remoting/remoting_me2me_host.xml
src/remoting/remoting_native_messaging_manifests.xml
src/remoting/remoting_version_resources.xml
src/remoting/remoting_windows_resources.xml
src/remoting/test/internal/
src/remoting/tools/internal/
src/remoting/webapp/app_remoting/internal/
src/sandbox/linux/seccomp-legacy/
src/sdch/open-vcdiff
src/seccompsandbox
src/signing_keys
src/skia/tools/clusterfuzz-data/
src/sql/sql_unittests_run.xml
src/sync/sync.xml
src/sync_testserver.log
src/testing/gmock
src/testing/gtest
src/testing/iossim/third_party/
src/testserver.log
src/third_party/accessibility-developer-tools/
src/third_party/adobe/flash/binaries
src/third_party/adobe/flash/symbols
src/third_party/amd/
src/third_party/android_protobuf/src
src/third_party/android_tools/
src/third_party/android_tools_internal/
src/third_party/android_webview_glue/src
src/third_party/angle
src/third_party/angle_dx11
src/third_party/apache-mime4j
src/third_party/apache-win32/bin/*.exe
src/third_party/apache-win32/bin/*.dll
src/third_party/apache-win32/bin/iconv/*.so
src/third_party/apache-win32/modules/*.so
src/third_party/apache-win32/modules/*.dll
src/third_party/appurify-python/src
src/third_party/asan
src/third_party/bidichecker
src/third_party/bison
src/third_party/boringssl/src
src/third_party/cacheinvalidation/cacheinvalidation_unittests_run.xml
src/third_party/cacheinvalidation/src
src/third_party/chromeos_login_manager
src/third_party/chromeos_text_input
src/third_party/chromite
src/third_party/cld_2/src
src/third_party/colorama/src
src/third_party/crashpad/crashpad
src/third_party/cros
src/third_party/cros_system_api
src/third_party/cygwin
src/third_party/directxsdk
src/third_party/dom_distiller_js/dist
src/third_party/drmemory/drmemory-windows-sfx.exe
src/third_party/drmemory/unpacked
src/third_party/elfutils/src
src/third_party/eyesfree/src
src/third_party/ffmpeg
src/third_party/findbugs
src/third_party/flac
src/third_party/fontconfig/src
src/third_party/freetype
src/third_party/freetype2/src
src/third_party/gles2_conform
src/third_party/gnu_binutils/
src/third_party/google_appengine_cloudstorage
src/third_party/google_toolbox_for_mac/src
src/third_party/googlemac
src/third_party/gperf
src/third_party/httpcomponents-client
src/third_party/httpcomponents-core
src/third_party/hunspell
src/third_party/hunspell_dictionaries
src/third_party/icu
src/third_party/jarjar
src/third_party/jsoncpp/source
src/third_party/jsr-305/src
src/third_party/junit/src
src/third_party/kasko
src/third_party/khronos_glcts
src/third_party/khronos/CL
src/third_party/leveldatabase/src
src/third_party/leveldb
src/third_party/libaddressinput/src
src/third_party/libexif/sources
src/third_party/libjingle/source
src/third_party/libjingle/source_internal
src/third_party/libjpeg_turbo
src/third_party/liblouis/src
src/third_party/libphonenumber/libphonenumber.xml
src/third_party/libphonenumber/libphonenumber_without_metadata.xml
src/third_party/libphonenumber/src
src/third_party/libsrtp
src/third_party/libvpx
src/third_party/libwebm/source
src/third_party/libyuv
src/third_party/lighttpd
src/third_party/llvm
src/third_party/llvm-allocated-type
src/third_party/llvm-build
src/third_party/lss
src/third_party/mesa/src
src/third_party/mingw-w64
src/third_party/mkl
src/third_party/mockito/src
src/third_party/mojo/src/mojo/public/tools/prebuilt/
src/third_party/nacl_sdk_binaries/
src/third_party/nss
src/third_party/omaha/src/omaha
src/third_party/openmax_dl/
src/third_party/opus/src
src/third_party/pdfsqueeze
src/third_party/pdfium
src/third_party/pefile
src/third_party/perl
src/third_party/platformsdk_win7
src/third_party/platformsdk_win8
src/third_party/polymer
src/third_party/polymer_legacy
src/third_party/ppapi
src/third_party/psyco_win32
src/third_party/pthreads-win32
src/third_party/py_trace_event/src
src/third_party/pyelftools
src/third_party/pyftpdlib/src
src/third_party/pylib
src/third_party/pymox/src
src/third_party/python_24
src/third_party/python_26
src/third_party/pywebsocket/src
src/third_party/pywebsocket/src
src/third_party/requests/src
src/third_party/robolectric/lib
src/third_party/safe_browsing/testing
src/third_party/scons-2.0.1
src/third_party/sfntly/cpp
src/third_party/skia
src/third_party/smhasher/src
src/third_party/snappy/src
src/third_party/stp/src
src/third_party/swiftshader/include/
src/third_party/swig
src/third_party/syzygy
src/third_party/syzygy/binaries
src/third_party/trace-viewer
src/third_party/tsan/
src/third_party/undoview
src/third_party/usb_ids
src/third_party/usrsctp/usrsctplib
src/third_party/v8-i18n
src/third_party/valgrind
src/third_party/v4l2capture
src/third_party/web-animations-js
src/third_party/webcl
src/third_party/webdriver/pylib
src/third_party/webdriver/python/selenium
src/third_party/webgl
src/third_party/webgl/src
src/third_party/WebKit
src/third_party/webpagereplay/
src/third_party/webrtc
src/third_party/webrtc/internal
src/third_party/webrtc/modules/video_coding/codecs/vp8_internal
src/third_party/widevine/cdm/chromeos
src/third_party/widevine/cdm/linux
src/third_party/widevine/cdm/mac
src/third_party/widevine/cdm/win
src/third_party/widevine/test/license_server
src/third_party/win_toolchain/.timestamps
src/third_party/win_toolchain/files
src/third_party/wix
src/third_party/xdg-utils
src/third_party/xulrunner-sdk
src/third_party/yasm/binaries
src/third_party/yasm/generate_files.xml
src/third_party/yasm/source/patched-yasm
src/third_party/yasm/yasm.xml
src/tools/deps2git/
src/tools/distcc
src/tools/gn/bin/linux
src/tools/gn/bin/mac
src/tools/gn/bin/win
src/tools/grit
src/tools/gyp
src/tools/histograms
src/tools/json_schema_compiler/test/json_schema_compiler_tests.xml
src/tools/metrics/histograms/histograms.before.pretty-print.xml
src/tools/page_cycler/acid3
src/tools/perf/data
src/tools/perf/internal
src/tools/perf/results.html
src/tools/swarming_client
src/tools/tryserver
src/tools/win/link_limiter/build
src/ui/file_manager/internal
src/ui/keyboard/keyboard_mojom_bindings.xml
src/ui/surface/surface.xml
src/ui/surface/surface_gpu_tests.xml
src/v8
src/webkit/data/bmp_decoder
src/webkit/data/ico_decoder
src/webkit/data/layout_tests/LayoutTests
src/webkit/data/test_shell/plugins
src/webkit/data/xbm_decoder
src/webkit/Debug
src/webkit/Release
src/webkit/renderer/media/crypto/ppapi/cdm
src/webpagereplay_logs/
src/win8/delegate_execute/delegate_execute_version_resources.xml
src/win8/metro_driver/metro_driver_version_resources.xml
src/x86-generic_out/
src/xcodebuild
src/xwalk
