[submodule "third_party/gyp"]
	path = third_party/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "third_party/cygwin"]
	path = third_party/cygwin
	url = https://chromium.googlesource.com/chromium/deps/cygwin.git
[submodule "third_party/python_26"]
	path = third_party/python_26
	url = https://chromium.googlesource.com/chromium/deps/python_26.git
